#yearChart {
    min-height: 250px; 
    height: 250px; 
    max-height: 250px; 
    max-width: 100%; 
    display: block; 
    width: 731px;
}

#monthChart {
    min-height: 250px; 
    height: 250px; max-height: 250px; 
    max-width: 100%; 
    display: block; 
    width: 731px;
}
